@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerDetails</h2>

<div>
     
    <hr />
   

        <h1>@Model.Name</h1>
     
       <ul>
           <li>
                  MemberShip Type:  @Model.MemberShipType.MembershipType
           </li>
           <li>
                 DateOfBirth:  @Model.DateOfBirth
           </li>
       </ul>

   
   
</div>
<p>
    @Html.ActionLink("Edit", "Customers", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Movies")
</p>

